
body{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('../assets/images/homepage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center ;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5em;
}

.login-page{
    margin-top: 7.5vh;
 }

 .login-div{
    margin: auto;
    background-color: #E5E5E5;
    min-height: 35vh;
    max-width: 45%;
    border-radius: 2em;
    margin-bottom: 0;
    padding-bottom: 1em;
}

.login-intro-div{
    margin: auto;
    background-color: #69A1AF;
    min-height: 35vh;
    max-width: 35%;
    border-radius: 2em;
    margin-top: 0;
}

.title-login{
    font-size: 1.75em;
    margin-top: 1em;
}

.title-1{
    color: #69A1AF;
    font-weight: 200;
}

.title-2{
    color: #65C95C;
    font-weight: 700;
}

.login-label{
    font-size: 1.3em;
    font-weight: 400;
}


.login-admin{
    background-color: #84C9DB;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #F2F2F2;
    width: 30%;
    min-height: 2em;
    border: 0px;
    margin-top: 1em;
    border-radius: 0.25em;
}

button:hover{
    cursor:pointer;
    background-color: #69A1AF;
    color: #F2F2F2;
}

input[type=text],input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 0.5em;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.forgot-text{
    margin: 1em 0;
    font-size: 0.75em;
} 

.forgot-link{
    text-decoration: none;
}

.forgot-link:hover{
    text-decoration: underline;
    text-decoration-color: #69A1AF;
}

.forgot-password-link{
    color: #69A1AF;
}

    
.login-msg{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    padding: 0 1em;
}

.login-msg-title{
    font-size: 1em;
    font-weight: bold;
    color: #FFFFFF;
}

.login-msg-p{
    font-size: 1em;
    font-weight: 100;
    text-align: center;
}

@media(min-width:80em) {
   
    body{
        font-size: 1em;
    }

    .login-page{
        display: flex;
        justify-content: center;
        align-items: center;
     }
     
     .login-div{
         margin: auto;
         border-radius: 3em;
         min-height: 85vh;
         flex: 1;
         margin-right: 0;
         z-index: 2;
         padding-bottom: 0em;
     }
     
     .login-intro-div{
         min-height: 85vh;
         max-width: 25%;
         border-radius: 3em;
         flex: 2;
         margin-left: -5em;
         z-index: 1;
     }
     
     .title-login{
         font-size: 2.3em;
     }
     
     .login-form{
         display: flex;
         flex-direction: column;
         padding: 1.75em 2em;
         align-items: center;
         justify-content: center;
     }
     
     .forms{
         width: 75%;
         margin: 0.75em 0em;
         flex-grow: 1;
     }
     
     .login-label{
        display: flex;
        margin-bottom: -1em;
     }
     
     
     .login-admin{
         font-size: 1.3em;
         width: 25%;
         margin-top: 1.75em;
     }
     
     
     input[type=text],input[type=password] {
         width: 100%;
     }
     
     .forgot-text{
         margin: 3em 0 0 0;
         font-size: 1em;
     }
    
     .login-msg{
         margin-left: 3em;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         font-family: 'Montserrat', sans-serif;
         color: #FFFFFF;
         height: 75vh;
         margin-bottom: 3em;
     }
     
     .login-msg-title{
         font-size: 1.75rem;
     }
     
     .login-msg-p{
         font-size: 1.3rem;
         max-width: 65%;
     }
     
}